---
layout: base
---
<div class="wrapper">
    <header>
        {% if site.compass.logo %}
        <div class="logo-container">
          <a class="logo" href="{{ page.baseurl }}" style="background-image: url('{{ site.baseurl }}{{ site.compass.logo }}')"></a>
        </div>
        {% endif %}

        {% if site.compass.author %}
        <div class="author-container"><h1>{{ site.compass.author }}</h1></div>
        {% endif %}

        <div class="icon-container">
          <a href="mailto:kgourgoulias+mywebsite@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>

          <a href="https://github.com/kgourgou"><i class="fa fa-github fa-2x"></i></a>

          <a  href="https://twitter.com/kgourg"><i class="fa fa-twitter fa-2x"></i></a>

          <a href="https://www.linkedin.com/in/kgourgoulias"><i class="fa fa-linkedin fa-2x"></i></a>
        </div>

        {% if site.compass.tagline %}
        <div class="tagline-container"><p>{{ site.compass.tagline }}</p></div>
        {% endif %}
    </header>
    <main>
      {% if site.compass.include_content %}
      <div class="content">
        {% include content.html %}
      </div>
      {% endif %}
    </main>
</div>
