
<h2>About me</h2>
<p>
I am a <b>fifth year Ph.D student</b> at UMass Amherst, in the  Department of Mathematics & Statistics.

I am co-advised by Professor <a href="http://people.math.umass.edu/~markos/">Markos Katsoulakis</a> and Professor <a href="http://people.math.umass.edu/~lr7q/">Luc Rey-Bellet</a>.
</p>


<h2>My Research</h2>

<p>
  I am currently studying different ways to <b>quantify</b> the errors associated with <b>splitting schemes</b> in <a href="http://spparks.sandia.gov/">parallel Kinetic Monte Carlo</a>.
</p>


<p>
In general, the point of contact of the different projects I am working on is to employ <b>tools from information theory</b> in new ways to <b>generate insights</b> and <b>quantify uncertainties.</b>
</p>



<p>
Interested? Look <a href="research/index.html">here for more about my research</a>.
</p>

<h3> Code </h3>

<p>
You can find all of my code on <a href="https://github.com/kgourgou">Github</a>.
</p>

<h3>Data Science</h3>

<p>
Due to my interest in data science, I <b>co-founded</b> the <a href="http://gridclub.io/">Graduate Researchers interested in Data (GRiD) group</a>. I served as <b>Co-Chair</b> of the group during the fall semester of 2014 and the spring semester of 2015. As a Co-Chair, I helped organize <a href="https://www.umass.edu/newsoffice/article/hackebola">UMass Amherst HackEbola</a> and the <a href="http://www.science.smith.edu/departments/math/datafest/?p=228">2015 ASA DataFest</a>. I am currently the group's Chief Technical Officer.<p>

<p>I am also an assistant organizer for the <a href="http://www.meetup.com/Pioneer-Valley-and-Five-College-R-Statistical-Meetup">Western Mass Data Science, Stats, and R group</a>.</p>


<h3>Writing</h3>

I keep a blog at <a href="http://notabstractnonsense.com">notabstractnonsense.com</a>.
