
<p>
I am a <b>fourth year Ph.D student</b> at UMass Amherst, Department of Mathematics & Statistics. I am lucky to be co-advised by Professor <a href="http://people.math.umass.edu/~markos/">Markos Katsoulakis</a> and Professor <a href="http://people.math.umass.edu/~lr7q/">Luc Rey-Bellet</a>.
</p>


<h2>Research</h2>
<p>
  I am currently studying different ways to <b>quantify</b> the errors associated with <b>splitting schemes</b> in <a>parallel Kinetic Monte Carlo</a>.
</p>


<p>
In general, the point of contact of the different projects I am working on is to employ tools from information theory in new ways to generate insights
and quantify uncertainties.
</p>

<hr />

<h2>Teaching</h2>
<ul>
  <li>Spring 2015 : <a href="http://people.math.umass.edu/~lr7q/m456-spring2015/m456home.html">Math456 - Mathematical Modelling</a></li>
</ul>

<hr />

<h2>Other Activities</h2>
<h3>Data Science</h3>
<p>
Due to my interest in data science, I <b>co-founded</b> the <a href="http://umassamherst-grid.github.io/">Graduate Researchers interested in Data (GRiD) group</a>. I served as <b>co-chair</b> of the group during the fall semester of 2014 and the spring semester of 2015. During my time as co-chair, I helped organize <a href="https://www.umass.edu/newsoffice/article/hackebola">UMass Amherst HackEbola</a> and the <a href="http://www.science.smith.edu/departments/math/datafest/?p=228">2015 ASA DataFest</a>.<p>

<p>I am also an assistant organizer for the <a href="http://www.meetup.com/Pioneer-Valley-and-Five-College-R-Statistical-Meetup">Western Mass Data Science, Stats, and R group</a>.</p>

<h3>High Performance Computing</h3>
I have been involved in projects that needed some form of HPC (openMP, MPI, CUDA, etc) and am a big fan of <a href="http://people.math.umass.edu/~johnston/HPC_MGHPCC_S15.html">the HPC seminar at UMass.</a>


<hr />
